#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.canvasActions{
  display:flex;
 gap:2rem;
 margin: 1rem;
 justify-content: center;
 align-items: center;

}
.form-element{
  margin: 0 2rem;
}

.form-element label{
  padding: 0 0.5rem;
}
canvas{
  border: 1px solid #555;
}